body {
    background-color: #33a1fd;
    margin: 0 0;
}

header, main {
    width: min(950px, 90%);
    margin: 0 auto;
    padding: 0 .5rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: #E0FBFC;
    border-radius: 1rem;
    padding-bottom: 1rem;
    position: relative;
    top: 1rem;
}

main {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    border-radius: 0 0 1rem 1rem;
}

ul {
    width: min(700px, 100%);
    padding: 0 0;
}

.flash-container {
    width: 100%;
    padding: .5rem;
    text-align: center;
}

.notice {
    background-color: #9ae19d;
}

.alert {
    background-color: #FC7753;
}

.user-container {
    width: 100%;
    text-align: right;
}

.logo-image {
    width: min(600px, 100%);
    height: auto;
}

.kitten-picture {
    margin: 1rem 0;
    width: min(700px, 100%);
    height: auto;
    border-radius: 1rem;
}

.stat-box {
    width: min(700px, 100%);
    background-color: rgb(207, 207, 207);
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: solid 1px black;
    border-radius: .5rem;
}

.kitten-name {
    width: 700px;
    text-align: center;
}

.post-pic {
    width: 100%;
}

.post-pic-link {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-pic-link-grid {
    width: min(750px, 90%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.owner-profile-kitten-grid {
    width: min(750px, 90%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
    gap: 1rem;
    justify-content: center;
}

.owner-profile-kitten-picture {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: contain;
}

.owner-kitten-profile-card {
    width: 100%;
    background-color: #a0b2a6;
    border-radius: 1rem;
    text-align: center;
}